
body{
    background-color: #eeeffe;
}
/* Style for the parent container */


section.side {
  background-image: url('/static/images/bk.png') ;
  background-size: 100% 102%;
}
.forgot_pwd {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #eeeffe;
    
    border-radius: 8px;
  }
  
  /* Style for the heading */
  .forgot_pwd h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Style for the paragraph */
  .forgot_pwd p {
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
  }
  
  /* Style for the form */
  .forgot_pwd form {
    margin-bottom: 30px;
  }
  
  /* Style for the form inputs */
  .forgot_pwd input[type="text"],
  .forgot_pwd input[type="password"],
  .forgot_pwd input[type="email"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  /* Style for the login link */
  .forgot_pwd a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Style for the submit button */
  .forgot_pwd input[type="submit"] {
    padding: 15px 30px;
    background-color: #576ffe;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  /* Style for the submit button on hover */
  .forgot_pwd input[type="submit"]:hover {
    background-color: #576ffe;
    margin: 15px;
    border-radius: 20px;
    background-color: #576ffe;
    color: #fff;
  }
  

