{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Dashboard{% endblock title %}
{% block breadcrumb %}
  <div>
    <h1><i class="fa fa-dashboard"></i> Ajouter un groupe</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item">
      <a href="{% url 'groups:group_list' %}">add group</a>
    </li>
  </ul>
{% endblock breadcrumb %}
{% block content %}
  <style>
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Adjust the height as needed */
    }

    .col-md-12 {
      max-width: 600px; /* Adjust the max-width as needed */
      width: 100%;
    }

    .tile {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      overflow: hidden;
    }

    .tile-body {
      padding: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    label {
      margin-bottom: 8px;
    }

    input[type="checkbox"] {
      margin-bottom: 10px;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <form method="post" action="{% url 'groups:create_group' %}">
            {% csrf_token %} {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Créer le groupe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
