{% extends 'base/base.html' %}
 <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2nZDkbc4IuGI99F5lFkQTCBZmi1A8mT" crossorigin="anonymous">

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-bDk5fP4X4PvZDeI4DY9z1j9sMO1i6SmVuoH4H0N9vCOhF48cRVtX1u6G7y1dSkSe" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2nZDkbc4IuGI99F5lFkQTCBZmi1A8mT" crossorigin="anonymous"></script>
 </head>

{% block title %}Home{% endblock %}
{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i>   <h5>GROUP ROOM :- {{room_name}}</h5></h1>
        
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        
    </ul>
{% endblock breadcrumb %}


{% block content %}
{% if user.is_authenticated %}

  <!-- <div class="container">
      
      {% if rooms %}
        <div class="row equal">
            {% for room in rooms %}
            
            <div class="col-sm-4 d-flex pb-3">
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-block">
                        <h3 class="card-title">{{room.name}}</h3>
                        <p class="card-text">It is Public group for this Project.</p>
                        <a href="/chat/{{room.id}}" class="btn btn-outline-secondary">Go to Room</a>
                    </div>
                </div>
            </div>

            {% endfor %}

            
        </div>
    {% else %}
            No Rooms Available!
    {% endif %}
</div> -->

<div class="container">
    <div class="row">
        <!-- Left Side: Chats List -->
        <!-- <div class="col-sm-4"> -->
            {% if group_chats %}
                <div class="list-group">
                    {% for group_chat in group_chats %}
                        <div class="card">
                            <div class="card-header">
                            group room
                            </div>
                            <div class="card-body">
                            <h5 class="card-title">{{ group_chat.name }}</h5>
                            <p class="card-text">It is a group chat for this Project.</p>
                            <a href="/groups/group_chat/{{group_chat.id}}" class="btn btn-primary">chat</a>
                            
                            </div>
                        </div>
                        <br>
                        <!-- <a href="/chat/{{room.id}}" class="list-group-item list-group-item-action">
                            <h5 class="mb-1">{{ room.name }}</h5>
                            <p class="mb-1">It is a Public group for this Project.</p>
                        </a> -->
                    {% endfor %}
                </div>
            {% else %}
                <p>No Rooms Available!</p>
            {% endif %}
        <!-- </div> -->

        <!-- h -->
    </div>
</div>



{% else %}
<div class="container">
    <div class="alert alert-info d-flex justify-content-between" role="alert">
        <h5>You are not logged in</h5>
        <a href="/accounts/logout/">
          <button type="button" class="btn btn-light">Log In</button>
        </a>
      </div>
</div>  
{% endif %}

<br/>

    




{% endblock %}