{% extends 'base/base.html' %}
{% load static %}

{% block title %}Event Dashboard{% endblock title %}

{% block breadcrumb %}
    <div class="dash">
        <h1><i class="fa fa-dashboard"></i> Gestion Des Utilisateurs</h1>
        <p>Admins's Dashboard</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="{% url 'groups:group_list' %}">Groups List</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <h2>{{ group.name }}</h2>
                <p>Admin: {{ group.admin }}</p>
                <p>Participants:
                    {% for participant in group.participants.all %}
                        {{ participant }},
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .dash{
        width: 100% !important;
        left: -90px !important;
    }
    .row{
        left: -60px !important;
    }
    .col-md-6{
        width: 50% !important;
        left: 10px !important;
    }
    .col-md-12{
        width: 100% !important;
        left: -90px !important;
    }
  </style>

{% endblock content %}



{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <script type="text/javascript">$('#sampleTable1').DataTable();</script>
{% endblock extrascripts %}


