<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title>Sign In</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />

    {% comment %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% endcomment %}
    
    <link rel="stylesheet" href="{% static 'css/signincss.css' %}" />
  </head>
  <body>
    <section class="side">
      
        <img src="{% static 'images/password.png' %}" alt="Email Icon">
    </section>

    <section class="main">
      <div class="login-container">
        <h1>Password set</h1>
        <div class="separator"></div>
       



<p>Your password has been set. You can 
    <a href="{% url 'accounts:signin' %}">log in now</a></p>

</div>
      </div>
    </section>

    
  </body>
</html>
